# {{ ansible_managed }}

[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/prometheus/latest/configuration/configuration/
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus \
  --web.listen-address=127.0.0.1:{{ prometheus_port }} \
  --web.page-title="mhnet Prometheus" \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --config.file=/etc/prometheus/prometheus.yml

CapabilityBoundingSet=CAP_SET_UID
LimitNOFILE=65000
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true
#SystemCallFilter=@signal @timer

ReadWritePaths={{ prometheus_data_dir }}

PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
